.style_icon_button_menu_open_drawer {
  color: #ffffff;
  background-color: #083c69;
  margin: 3px;
}
.style_icon_button_menu_open_drawer:hover {
  background-color: #2f6699;
}


.drawer_components .MuiDrawer-paper{
  background-color: #051e34;
  box-sizing: border-box;
  width: 240px;   
}

@media only screen and (max-width: 600px) {
  .drawer_components {
    display: block;
  }
}
@media only screen and (max-width: 0px) {
  .drawer_components {
    display: none;
  }
}

/*# sourceMappingURL=customDrawerComponent.css.map */
