.drawer_custom_content .MuiGrid-container {
  height: 64px;
}
.drawer_custom_content .MuiGrid-grid-xs-8 {
  color: #ffffff;
  display: block;
  font-size: 25px;
  font-weight: 600;
  margin: auto;
  padding-left: 15px;
}
.drawer_custom_content .MuiGrid-grid-xs-2 {
  align-items: center;
  display: flex;
  justify-content: flex-end;
  padding-right: 2px;
}
.drawer_custom_content .MuiDrawer-paper {
  color: #17bad3;
}
.drawer_custom_content .MuiGrid-grid-xs-2 #buttonIconArrowClosed{
  color: #17bad3;
}
.drawer_custom_content .MuiGrid-grid-xs-2 #buttonIconArrowClosed:hover {
  background-color: #194065;
}
.drawer_custom_content .MuiBox-root {
  background-color: #0d2d49;
}
.drawer_custom_content #custom_drawer_content {
  color: #17bad3;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 7px;
}
.drawer_custom_content #custom_drawer_content:hover {
  background-color: #0e5598;
}
.drawer_custom_content #custom_drawer_content .drawer_element_arrow_downUp .MuiTypography-root.MuiTypography-body1.MuiListItemText-primary {
  color: #f2f3f3;
  font-size: 16px;
  font-weight: 550;
  line-height: 20px;
  margin-bottom: 0px;
  margin-top: 1px;
}
.drawer_custom_content #custom_drawer_content .drawer_element_arrow_downUp .MuiTypography-root.MuiListItemText-secondary {
  color: #f2f3f3;
  font-size: 12;
  line-height: 16px;
  margin-left: 10px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.drawer_custom_content .subitem_text_overflow_ellipsis .MuiTypography-root.MuiTypography-body1.MuiListItemText-primary {
  color: #f2f3f3;
  font-size: 16px;
  font-weight: 550;
  line-height: 20px;
  margin-bottom: 0px;
  margin-top: 1px;
}
.drawer_custom_content .subitem_text_overflow_ellipsis .MuiTypography-root.MuiListItemText-secondary {
  color: rgba(0, 0, 0, 0);
  height: 0px;
}
.drawer_custom_content #subitems_drawer {
  color: #eceee8;
  min-height: 32px;
  padding-bottom: 7px;
  padding-top: 0px;
  background-color: #1c4164;
}
.drawer_custom_content #subitems_drawer:hover {
  background-color: #264f74;
}
.drawer_custom_content #subitems_drawer .MuiListItemIcon-root {
  color: #eceee8;
}
.drawer_custom_content .MuiDivider-root.MuiDivider-fullWidth {
  background-color: #18bdd3;
}
.drawer_custom_content #component_drawer_without_subitem:hover {
  background-color: #0e5598;
}
.drawer_custom_content #component_drawer_without_subitem .MuiTypography-root.MuiTypography-body1.MuiListItemText-primary {
  color: #f2f3f3;
  font-size: 16px;
  font-weight: 550;
}

/*# sourceMappingURL=drawerContent.module.css.map */
