$background_color_drawer_components:#051e34;
$font_color_title_drawer: #ffffff;
$button_icon_arrow_color_close_drawer: #17bad3;
$background_color_select_button_icon_arrow: #1b456d;

$background_color_drawer_content: #0d2d49; 
$background_color_select_drawer_content: #0f5aa1;
$drawer_content_items_title_font_color: #f2f3f3;
$drawer_content_subitems_title_font_color: #eceee8;
$drawer_down-up_arrow_button_color: #17bad3;
$background_color_subitems_drawer_content: #1c4164;
$background_color_select_subitems_drawer: #29547c;

$font_color_subitems_icon: #eceee8;

$divider_line_background_color: #18bdd3;

$color_icon_button_menu_open_drawer:#ffffff; 
$background_color_icon_button_menu_open_drawer: #051e34;
$background_color_select_icon_button_menu_open_drawer: #1b456d;

$font_size_drawer_element_arrow_downUp: 16px;
$font_weight_drawer_element_arrow_downUp: 550;
